html {
  box-sizing: border-box;
}
*,
*:after,
*:before {
  box-sizing: inherit;
}
body {
  background-image: url("./img/background.jpg");
}
.wrapper {
  display: grid;
  grid-template-columns: ;
}
.cal-container {
  border: 3 px;
  border-style: dashed;
  height: 200px;
  width: 300px;
  border-color: lightcoral;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: stretch;
}

[class*="week-"] {
  display: flex;
  flex-basis: 10%;
  justify-content: space-evenly;
  align-items: stretch;
  color: rgb(60, 168, 204);
  border-bottom: lightgreen;
}

.days-name {
  color: rgb(177, 78, 243);
}

.weekends {
  color: rgb(190, 186, 186);
}
button {
  border: solid;
  border-radius: 42%;
  border: 1px;
}
button:hover {
  background-color: lavender;
}
button:active {
  background-color: rgb(250, 222, 177);
}
