html {
  box-sizing: border-box;
}
*,
*:after,
*:before {
  box-sizing: inherit;
}
body {
  background-color: rgba(197, 224, 233, 0.411);
}

.to-do-container {
  margin: 5% 20%;
  padding: 2% 4%;
  border: 2px solid red;
  border-radius: 0.7em;
  justify-content: center;
  text-align: center;
  background-color: rgba(240, 240, 211, 0.685);
}
.tasks {
  display: grid;
  grid-template-columns: 8fr 2fr;
}
.new-task {
  list-style-type: none;
  border: 1px solid grey;
  border-radius: 0.6em;
}

.del-btn {
  margin: 2px 6px;
}
