html {
  box-sizing: border-box;
}
*,
*:after,
*:before {
  box-sizing: inherit;
}
body {
  background-color: rgba(215, 228, 233, 0.411);
}

.to-do-container {
  margin: 5% 20%;
  padding: 2% 4%;
  border: 3px solid rgba(236, 236, 225, 0.383);
  border-radius: 0.7em;
  justify-content: center;
  text-align: center;
  background-color: rgba(253, 201, 185, 0.889);
}

.new-task {
  list-style-type: none;
  border: 0.5px solid rgba(177, 174, 174, 0.528);
  border-radius: 0.6em;
  display: grid;
  grid-template-columns: 0.25fr 8fr 1.5fr 1.5fr;
}

.del-btn {
  margin: 2px 4px;
}

.edit-btn {
  margin: 2px 3px;
}
.check-box {
  margin: 6px 4px;
}
.hr {
  border: none;
  height: 2px;
  background-color: #333;
}

.cmplt-task {
  text-decoration: line-through;
  opacity: 0.4;
}

.cmplt-edit-btn {
  display: none;
}
.cmpltTasksSec > .new-task {
  opacity: 0.4;
}

.cmpltTasksSec > .new-task:hover {
  opacity: 1;
  transition: 0.3s;
}
